.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RProj

# output text files 

OutputByAge.txt
AddnalOutput.txt
SummaryOutput.txt
TotBirthDiagnosed.txt
ChildrenOnExtNVP.txt
AdolRegTests.txt
DiscARTunder200.txt
DiscART200to349.txt
DiscART350to499.txt
DiscARTover500.txt
OnARTunder200.txt
OnART200to349.txt
OnART350to499.txt
OnARTover500.txt
FSWonART.txt
AdolescOnPrEP.txt
WomenOnVM.txt
FSWonPrEP.txt
WomenOnPrEP.txt
MenOnPrEP.txt
SWsexActsProt.txt
SWsexActs.txt
TotSexWorkers.txt
BirthsUnder200.txt
Births200to349.txt
Births350to499.txt
BirthsOver500.txt
BirthsDiagHIV.txt
AdultsEverTestedF.txt
AdultsEverTestedM.txt
Circumcised15to49.txt
MMCover50.txt
MMC25to49.txt
MMC20to24.txt
MMC15to19.txt
MMC10to14.txt
TotProtSexActs18.txt
TotProtSexActs.txt
TotSexActs.txt
TotNewNeed500F.txt
TotNewNeed500M.txt
DiscontinuedART_F.txt
DiscontinuedART_M.txt
PreARTover500F.txt
PreART350to499F.txt
PreART200to349F.txt
PreARTunder200F.txt
PreARTover500M.txt
PreART350to499M.txt
PreART200to349M.txt
PreARTunder200M.txt
TotEarly1to4.txt
TotEarlyInfants.txt
TotLateUnder15.txt
StartingART6to13.txt
StartingART3to5.txt
StartingART1to2.txt
NewARTover500F.txt
NewART350to499F.txt
NewART200to349F.txt
NewARTunder200F.txt
Prev15to49F.txt
Prev15to49M.txt
Prev15to24F.txt
Prev15to24M.txt
TotPaedHIV.txt
Total15to24.txt
Children6to18.txt
Adolesc15to19.txt
Children6to13.txt
Children3to5.txt
Children1to2.txt
TotInfants.txt
MarriedF50.txt
MarriedM50.txt
MarriedF17to49.txt
MarriedM17to49.txt
FemalesOver15.txt
MalesOver15.txt
TotBirths.txt
LYlostAIDS.txt
AIDSdeathsART.txt
NonAIDSdeaths.txt
MarriedPropn2016.txt
MarriedPropn2007.txt
MarriedPropn2001.txt
MarriedPropn1996.txt
MSMpropn18to24.txt
NewAIDSdiagAge.txt
NewAIDSdiagTrend.txt
OutRRdiagDeathsPIP.txt
PaedCascade2018.txt
UntreatedByCD4_2012.txt
Treated2012.txt
DiagnosedUntreated2012.txt
Undiagnosed2012.txt
UndiagnosedHIV_U15.txt
UndiagnosedHIV_F.txt
UndiagnosedHIV_M.txt
DiagnosedHIV_F.txt
DiagnosedHIV_M.txt
ProbTestedNextYr.txt
OItestingRate.txt
HIVtestUptakeF25.txt
STuptakeByYr.txt
FirstHIVtestsPos.txt
FalseNegPropn.txt
HIVtestsPosU15.txt
TotalHIVtestsU15.txt
HIVtestsPos.txt
TotalHIVtests.txt
AdultsEverTested.txt
PrevTested17.txt
PrevTested16.txt
PrevTested12.txt
PrevTested09.txt
PrevTested08.txt
PrevTested05.txt
FSWcondomUse.txt
Neg50M.txt
Neg50F.txt
Neg25to49M.txt
Neg25to49F.txt
Neg15to24M.txt
Neg15to24F.txt
Neg15to49.txt
NegChildrenU15.txt
TotBirthsART.txt
TotBirthsHIV.txt
TotPop.txt
AgeDbnOnART_F.txt
AgeDbnOnART_M.txt
AdultRootF.txt
AdultRootM.txt
ARTerror.txt
VLsuppressed.txt
TotNewNeed15M.txt
TotNewNeed15F.txt
TotUnmetUnder15.txt
TotUnmet15M.txt
TotUnmet15F.txt
TotalARTunder15.txt
TotalART15M.txt
TotalART15F.txt
NewARTover500.txt
NewART350to499.txt
NewART200to349.txt
NewARTunder200.txt
StartingARTtot.txt
StartingART45F.txt
StartingART35to44F.txt
StartingART25to34F.txt
StartingART15to24F.txt
StartingART45M.txt
StartingART35to44M.txt
StartingART25to34M.txt
StartingART15to24M.txt
StartingART5to14.txt
StartingART2to4.txt
StartingART1.txt
StartingART0.txt
AdultsOver500.txt
Adults350to499.txt
Adults200to349.txt
AdultsUnder200.txt
CompletenessAdj.txt
CompletenessPaed.txt
ARTdeaths5to9.txt
ARTdeaths1to4.txt
DiagDeaths5to9.txt
DiagDeaths1to4.txt
AIDSdeathsAfter6moART.txt
AIDSdeaths1st6moART.txt
AIDSdeathsDiagPreART.txt
AIDSdeathsUndiag.txt
LifeExpectF.txt
LifeExpectM.txt
F45q15.txt
M45q15.txt
U5MR.txt
IMR.txt
NonAIDSdeaths2005.txt
AIDSdeaths20to59F.txt
AIDSdeaths20to59M.txt
AIDSdeaths10to14.txt
AIDSdeaths5to9.txt
AIDSdeaths1to4.txt
AIDSdeaths0.txt
AIDSdeathsAdultF.txt
AIDSdeathsAdultM.txt
AIDSdeathsPaed.txt
Deaths55F.txt
Deaths50F.txt
Deaths45F.txt
Deaths40F.txt
Deaths35F.txt
Deaths30F.txt
Deaths25F.txt
Deaths20F.txt
Deaths10F.txt
Deaths5F.txt
Deaths1F.txt
Deaths0F.txt
Deaths55M.txt
Deaths50M.txt
Deaths45M.txt
Deaths40M.txt
Deaths35M.txt
Deaths30M.txt
Deaths25M.txt
Deaths20M.txt
Deaths10M.txt
Deaths5M.txt
Deaths1M.txt
Deaths0M.txt
TotalNewHIV.txt
VertTransmKnownPos.txt
NewHIVmothersBF.txt
NewHIVto18mo.txt
NewHIVafterBirth.txt
NewHIVatBirth.txt
PAFforCSW.txt
HIVinc2010.txt
HIVinc2000.txt
HIVinc15plusF.txt
HIVinc15plusM.txt
HIVinc50M.txt
HIVinc50F.txt
HIVinc25to49F.txt
HIVinc25to49M.txt
HIVinc15to24F.txt
HIVinc15to24M.txt
HIVinc15to49F.txt
HIVinc15to49M.txt
HIVinc15to49.txt
NewAdultHIV.txt
NewHIVclients.txt
NewHIVinFSW.txt
MSMprev18plus.txt
MSMprev25plus.txt
MSMprev18to24.txt
DHScalib2016.txt
HSRCcalib2017.txt
HSRCcalib2012.txt
HSRCcalib2008.txt
HSRCcalib2005.txt
HSRCcalib2002.txt
Prev2to14.txt
Prev0to14.txt
Prev25plus.txt
Prev15to49.txt
Prev15to24.txt
TotalHIV.txt
NegClients.txt
PrevClients.txt
NegFSW.txt
PrevFSW.txt
ErrorVar.txt
ANCbias.txt
PrevPreg40to49.txt
PrevPreg35to39.txt
PrevPreg30to34.txt
PrevPreg25to29.txt
PrevPreg20to24.txt
PrevPreg15to19.txt
PrevPreg15to49.txt

# folders

/Debug
/Backup
/ipch
/Release
/Template
/.DS_store

#misc
.ico
.rc
.ncb
.sdf
.sln
.htm
THEMBISAv18/.DS_Store
THEMBISAv18/PosSTestANC.txt
THEMBISAv18/PosSTestFixedPoint.txt
THEMBISAv18/PosSTestIndex.txt
THEMBISAv18/PosSTestTaxi.txt
THEMBISAv18/PosSTestWork1.txt
THEMBISAv18/PosSTestWork2.txt
THEMBISAv18/STtoART_ANC.txt
THEMBISAv18/STtoARTfixedPoint.txt
THEMBISAv18/STtoARTindex.txt
THEMBISAv18/STtoARTtaxi.txt
THEMBISAv18/STtoARTwork1.txt
THEMBISAv18/STtoARTwork2.txt
THEMBISAv18/TotSTestANC.txt
THEMBISAv18/TotSTestFixedPoint.txt
THEMBISAv18/TotSTestIndex.txt
THEMBISAv18/TotSTestTaxi.txt
THEMBISAv18/TotSTestWork1.txt
THEMBISAv18/TotSTestWork2.txt
THEMBISAv18/Number1stHIVtestsPos.txt
THEMBISAv18/Prop1stHIVtestsPos.txt
*.csv
*.csv
changed_rate_reg_test_preg_women_and_general.csv
changed_rate_reg_test_preg_women_only.csv
